.new-expense {
  background-color: #EDE4E0;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #EDE4E0;
  background-color: #EDE4E0;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}
.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-expense__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
} 

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new-expense__actions {
  text-align: right;
}
.button{
  background-color: #EDE4E0 ;
  border: none;
  border-radius: 12px;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  
  
}
.add-button{
   /* background-color: black ; */
  border: none;
  border-radius: 12px;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  /* margin: 4px 2px; */
  cursor: pointer;
}
.container{
  
text-align: end;
}
.form-container{display: flex;
justify-content: space-between ;

}
.checkbox-button-container{border: none;
  border-radius: 12px;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  text-align: end
  ;
  
  }
  .checkbox{border: none;
  border-radius: 12px;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
background-color: #F9F9F9;

width: 160px;}
.addExpense{margin-bottom: 0rem;}